@{
    var baseUrl = BaseUrl.GetBaseUrl(Context);
}
<div class="section-products">
    <div class="row justify-content-center">
        @foreach (var product in Model)
        {
            <partial name="_ProductCardPartialView" model="product"/>
        }
    </div>
</div>