@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

.website {
    max-width: 1366px;
    margin: 0 auto;

}

.box {
    min-width: 100%;
    height: calc(100vw / 0.75);
    max-height: 81vh;

}

.inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;

}

.carousel .carousel-indicators button {
    background-color: black;

}

.carousel .carousel-indicators {
    bottom: -40px;
}

.carousel .carousel-inner {
    margin-bottom: 30px;
}

.price {
    font-size: 2rem;
    font-weight: 600;

}

.cancelled-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.sales-price {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 1rem;
    color: green;
}

.qty-container {
    max-width: 180px;
    min-width: 140px
}

.qty {
    padding: 0;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}

.cart-price {
    margin: 0 2px;
}

.cart-old-price {
    margin: 0 4px;
    color: red;
    text-decoration: line-through;
}

.cart-new-price {
    margin: 0 4px;
    color: green;
}

.cart-image {
    width: 100px;
}

.total-price {
    font-size: large;
    font-weight: bold;
}


.add-to-cart {
    font-size: 1.5rem;
    min-width: 180px
}

.product-card {
    height: 350px;
    width: 190px;
    padding: 0 8px;
}

.product-card-img {
    height: 50%;
    width: 100%;
    margin: 0;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card-body {
    width: 100%;
    height: 47%;
    margin-top: 4%;
    padding: 0 8px;
}

.product-card-title {
    height: 25%;
    overflow: hidden;
    text-overflow: "...";
    font-size: 0.9rem;
    color: dimgray;
}

.product-rate {
    margin: 4px 4px;
}

.product-card-price {
}

.product-card .product-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-card .product-old-price {
    text-decoration-line: line-through;
    font-size: 0.9rem;
    color: gray;

}

.product-card .product-new-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-card .discount-percent {
    font-size: 0.8rem;
    color: red;
}

.product-card p {
    margin: 0;
}

.product-card a {
    text-decoration: inherit;
    color: inherit;
}


/*Star Rating start*/
.product-rate{
    padding: 0;
    margin: 4px 0;
}
.star-outer{
    padding: 0;
    margin:0;
    position: relative;
    display:inline-block;
}
.star-inner{
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}

.star-outer::before{
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #bfbfbf;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.star-inner::before{
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #f6bf02;
    content: "\f005 \f005 \f005 \f005 \f005";
}
/*Star rating end*/