@model ShoppingCart.Models.CartItem;
@{
    string baseUrl = BaseUrl.GetBaseUrl(Context);
    string priceClass = Model.Product.SalesPrice != 0 ? "cart-old-price" : "cart-price";
    double Price = Model.Product.Price / 100.0;
    double SalesPrice = Model.Product.SalesPrice / 100.0;
}
<div id="item.@Model.CartItemId" class="p-3 row align-items-center w-100 warp">
    <div class="col-md-6">
        <div class="row">
            <div class="col-3">
                <img src="@baseUrl@Model.Product.MainImage" class=" img-thumbnail"/>
            </div>
            <div class="col-9 align-self-center">
                <span>@Model.Product.Title</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <span class="@priceClass">
            $@Price
        </span>

        @if (Model.Product.SalesPrice != 0)
        {
            <span class="cart-new-price">
                $@SalesPrice
            </span>
        }
    </div>
    <div class="col-md-2">
        <div class="row qty-container">
            <button id="decrease.@Model.CartItemId" class="col-3 btn border" onclick="decrease(this,@Model.CartItemId)">-</button>

            <input id="qty.@Model.CartItemId" class="qty col-3" value="@Model.Quantity" disabled/>

            <button id="increase.@Model.CartItemId" class="col-3 btn border" onclick="increase(this,@Model.CartItemId)">+</button>
            <span class="d-block max-qty text-danger"></span>
        </div>
    </div>
    <div class="col-md-1">
        <i class="bi bi-trash3 btn " onclick="removeCartItem(this,@Model.CartItemId)"></i>
    </div>
</div>